<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="common.boardMapper">
	<select id="boardList" parameterType="Map" resultType="BoardVO">
		
	</select>
	<select id="boardView" parameterType="Map" resultType="BoardVO">
	</select>
	<insert id="boardWrite" parameterType="BoardDTO">
	
	</insert>
	<update id="boardUpdate" parameterType="BoardDTO">
	</update>
	<delete id="boardDelete" parameterType="Map">
		DELETE FROM posts
			WHERE
					bid = #{bid},
				ADN table_name = #{tableName} 
	</delete>
</mapper>